@font-face {
    font-family: medievalsharp-regular;
    src: url('/font/MedievalSharp-Regular.ttf');
}

@font-face {
    font-family: nanum-brush-script;
    src: url('/font/font2/NanumBrushScript-Regular.ttf');
}

*{
    box-sizing: border-box;
}

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; /*<-- this is what makes the video go to the background */
}

#body {
    position: relative;
    
    /* justify-items: center; */
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 30vmin 30vmin 30vmin 30vmin 30vmin;
    grid-template-rows: 15vmin 15vmin 40vmin 40vmin;
    justify-content: center;
    align-items: center;
}

header{
    display: grid;
    grid-row: 1 /2;
    grid-column: 3/4;
    font-family: medievalsharp-regular;
    font-size: 10vw;
    font-weight: bold;
    text-shadow: 0 0 5px #FF0000, 0 0 10px #ff0000;
    align-items: center;
    justify-items: center;
    
}

/***** Scores Section *****/

#scores {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(5, 30vmin);
    font-family: medievalsharp-regular;
    font-size: 2.6vw;
   
}

#playerCardCount{
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    color: white;
}

#computerCardCount{
    text-shadow: 0 0 5px #f80000, 0 0 5px #0004ff;
    color: white;
}

#computerCardCount{
    grid-column: 5/6;
}

/***** Cards Section *****/

#cards{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(5, 30vmin);
    grid-template-rows: 40vmin;
}

#playerDeck{ /*TODO Will change apperance to 3 cards for war */
    grid-row: 1/2;
    border: 5px solid black;
    margin: 10px;
    display: flex;
    grid-template-columns: 30vmin;
    grid-template-rows: 40vmin;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    /*TODO figure how to change apperance based on going to war. 
    /*TODO apperance needs to be 3 random cards instead of deck*/
}


#playerDeck img{
    grid-row: 1/2; 
    grid-column: 1/2;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#battlePlayerCard{
    grid-column: 2/3;
    border: 5px solid black;
    margin: 10px;
}

#battleComputerCard{
    grid-column: 4/5;
    grid-row: 1/2;
    border: 5px solid black;
    margin: 10px;
}

#computerDeck{ /*TODO Will change apperance to 3 cards for war */
    grid-column: 5/6;
    border: 5px solid black;
    margin: 10px;
    /*TODO figure how to change apperance based on going to war. 
    /*TODO apperance needs to be 3 random cards instead of deck*/
}

#battleResult{
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
    border: 5px solid red;
    margin: 10px;
    font-family: nanum-brush-script;
    font-size: 2vw;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#battleResult img{
    grid-row: 1/2; 
    grid-column: 1/2;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

/***** Button Section *****/

#buttons{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 30vmin 30vmin 30vmin 30vmin 30vmin;
    grid-template-rows: 20vmin 20vmin ;
}

#duelBtn{
    grid-column: 3/4;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    background: url('/images/duel\ image.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    
}


#surrenderBtn{
    grid-column: 5/6;
    grid-row: 2/3;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}



/* #videoDiv{
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */