*{
    box-sizing: border-box;
}
video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; /*<-- this is what makes the video go to the background */
}

#body {
    justify-content: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin 20vmin;
    grid-template-rows: 15vmin 15vmin 40vmin 40vmin;
}

header{
    grid-row: 1 /2;
    grid-column: 3/4;
}

/***** Scores Section *****/

#scores {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(5, 20vmin);
}

#computerCardCount{
    grid-column: 5/6;
}

/***** Cards Section *****/

#cards{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: 40vmin;
}

#playerDeck{ /*TODO Will change apperance to 3 cards for war */
    grid-row: 1/2;
    border: 5px solid black;
    border-radius: 15%;
    margin: 10px;
    position: relative;
    /*TODO figure how to change apperance based on going to war. 
    /*TODO apperance needs to be 3 random cards instead of deck*/
}

#playerDeck img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    z-index: -1;
}

#battlePlayerCard{
    grid-column: 2/3;
    border: 5px solid black;
    border-radius: 15%;
    margin: 10px;
}

#battleComputerCard{
    grid-column: 4/5;
    grid-row: 1/2;
    border: 5px solid black;
    border-radius: 15%;
    margin: 10px;
}

#computerDeck{ /*TODO Will change apperance to 3 cards for war */
    grid-column: 5/6;
    border: 5px solid black;
    border-radius: 15%;
    margin: 10px;
    /*TODO figure how to change apperance based on going to war. 
    /*TODO apperance needs to be 3 random cards instead of deck*/
}

#battleResult{
    grid-column: 3/4;
    grid-row: 1/2;
    border: 5px solid red;
    border-radius: 15%;
    margin: 10px;
}

/***** Button Section *****/

#buttons{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin 20vmin;
    grid-template-rows: 20vmin 20vmin ;
}

#duelBtn{
    grid-column: 3/4;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10%;
    /*TODO change button text when at war. Prob. DOM manipulation */
}

#surrenderBtn{
    grid-column: 5/6;
    grid-row: 2/3;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}



/* #videoDiv{
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */